<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TinyMrpBaseUrl" value="http://localhost:5000" />
    <add key="FilesLocalRoot" value="C:\\CADEXPORT" />
    <add key="FilesUrlPrefix" value="http://localhost:5001/Deliverables" />
    <add key="ReservePnEndpoint" value="/api/pn/reserve" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
